<div class="flex flex-col gap-4" [formGroup]="loginForm">
    <h1 class="text-center">Login</h1>
    <mat-form-field>
        <mat-icon matPrefix>mail</mat-icon>
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControlName]="'email'">
        <mat-error *appFormError="let error from 'Email'">{{ error }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-icon matPrefix>password</mat-icon>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput [formControlName]="'password'">
        <mat-error *appFormError="let error from 'Contraseña'">{{ error }}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Iniciar sesión</button>
    <a routerLink="/login/request-password-recover" class="text-center text-blue-400 underline mt-4">Olvidé la
        contraseña</a>
</div>

