<mat-card class="p-10">
    <mat-card-title>
        <div class="flex justify-between items-center">
            <p class="text-2xl">{{ device()?.name }}</p>
            <div class="flex gap-2">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="viewMode = $event.value">
                    <mat-button-toggle value="chart">
                        <mat-icon>show_chart</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="table">
                        <mat-icon>table_chart</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-icon-button color="primary" (click)="downloadCVS()">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </div>

        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="relative">
            @if (loading) {
                <mat-progress-spinner class="m-auto absolute top-0 left-0 w-full h-full" diameter="100"
                                      mode="indeterminate"></mat-progress-spinner>
            }
            @if (viewMode === 'chart') {
                <app-chart-view [measurements]="measurementList" [device]="device()"></app-chart-view>
            } @else {
                <app-table-view [measurements]="measurementList" [device]="device()"></app-table-view>

            }

        </div>

    </mat-card-content>

</mat-card>

