<div class="w-fit flex items-center gap-4 flex-wrap" [formGroup]="passwordEmailChangeForm">
    <h1 class="text-center">Cambiar contraseña o email</h1>
    <mat-form-field>
        <mat-label>Nuevo email</mat-label>
        <input type="text" matInput formControlName="new_email">
        <mat-error *appFormError="let error from 'email'">{{ error }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-icon matPrefix>password</mat-icon>
        <mat-label>Nueva contraseña</mat-label>
        <input type="password" matInput formControlName="new_password">
        <mat-error *appFormError="let error from 'contraseña'">{{ error }}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="passwordEmailChangeForm.invalid"
            (click)="changePasswordOrEmail()">
        Cambiar contraseña/email
    </button>
</div>
