<div class="flex flex-col">
    <h1 class="text-center">Recuperar contraseña</h1>
    <p><span class="font-bold">Email: </span>daniel.delrio.juncal</p>
    <mat-form-field>
        <mat-label>Token</mat-label>
        <input type="text" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-icon matPrefix>password</mat-icon>
        <mat-label>Nueva contraseña</mat-label>
        <input type="password" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-icon matPrefix>password</mat-icon>
        <mat-label>Repetir nueva contraseña</mat-label>
        <input type="password" matInput>
    </mat-form-field>
    <button mat-flat-button color="primary">Cambiar contraseña</button>
</div>
