<div class="flex flex-col gap-4" [formGroup]="passwordRecoverForm">
    <h1 class="text-center">Recuperar contraseña</h1>
    <p><span class="font-bold">Email: </span>{{ email }}</p>
    <mat-form-field>
        <mat-label>Token</mat-label>
        <input type="text" matInput formControlName="recovery_token">
        <mat-error *appFormError="let error from 'token'">{{ error }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-icon matPrefix>password</mat-icon>
        <mat-label>Nueva contraseña</mat-label>
        <input type="password" matInput formControlName="new_password">
        <mat-error *appFormError="let error from 'contraseña'">{{ error }}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="passwordRecoverForm.invalid" (click)="changePassword()">Cambiar
        contraseña
    </button>
</div>
