<table mat-table [dataSource]="users" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let element"> {{ element.email }}<span
            *ngIf="authService.user()?.id === element.id" class="font-semibold"> (Yo)</span></td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role</th>
        <td mat-cell *matCellDef="let element"> {{ element.role }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div class="flex items-center">
                @if (authService.user()?.id !== element.id) {
                    @if (element.changingRole) {
                        <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
                    } @else if (element.role === 'admin') {
                        <button mat-icon-button color="primary" matTooltip="Quitar admin"
                                [disabled]="element.changingRole"
                                (click)="changeRole(element, 'user')">
                            <mat-icon>arrow_downward</mat-icon>
                        </button>
                    } @else {
                        <button mat-icon-button color="primary" matTooltip="Hacer admin"
                                (click)="changeRole(element, 'admin')">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                    }
                    @if (element.deleting) {
                        <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
                    } @else {
                        <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteUser(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    }
                }

            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
