<button mat-button routerLink="/">
    <mat-icon>arrow_left</mat-icon>
    Página principal
</button>
<p class="text-2xl text-center">Configuración</p>
<div *ngIf="authService.user() as user" class="flex flex-col gap-4">
    @if (user.role === 'admin') {
        <hr>
        <app-raspberry-configuration></app-raspberry-configuration>
        <hr>
        <app-manage-invitations></app-manage-invitations>
        <hr>
        <app-manage-users></app-manage-users>
    }
    <hr>
    <app-user-configuration></app-user-configuration>
</div>
