<div class="flex flex-col gap-4" [formGroup]="requestPasswordRecoverForm">
    <h1 class="text-center">Recuperar contraseña</h1>
    <mat-form-field>
        <mat-icon matPrefix>mail</mat-icon>
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControlName]="'email'">
        <mat-error *appFormError="let error from 'email'">{{ error }}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="requestPasswordRecoverForm.invalid"
            (click)="requestPasswordRecover()">Enviar correo de recuperación
    </button>
</div>
